:root.dark {
  --scroll-color-bar: 255, 250, 240, 0.2;
  --scroll-color-bar-hover: 255, 250, 240, 0.4;
  --scroll-color-bg: 255, 255, 255, 0.05;
  --scroll-size: 3px;
}
:root.light {
  --scroll-size: 3px;
  --scroll-color-bar: 125, 95, 40, 0.2;
  --scroll-color-bar-hover: 125, 95, 40, 0.4;
  --scroll-color-bg: 255, 255, 255, 0.05;
}

.rtp_scroll {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}
.rtp_scroll::-webkit-scrollbar {
  width: var(--scroll-size);
  height: var(--scroll-size);
  border-radius: var(--scroll-size);
  -webkit-border-radius: var(--scroll-size);
  -moz-border-radius: var(--scroll-size);
  -ms-border-radius: var(--scroll-size);
  -o-border-radius: var(--scroll-size);
}
.rtp_scroll::-webkit-scrollbar-track {
  background: rgba(var(--scroll-color-bg));
  border-radius: var(--scroll-size);
  -webkit-border-radius: var(--scroll-size);
  -moz-border-radius: var(--scroll-size);
  -ms-border-radius: var(--scroll-size);
  -o-border-radius: var(--scroll-size);
}
.rtp_scroll::-webkit-scrollbar-thumb {
  background: rgba(var(--scroll-color-bar));
  border-radius: var(--scroll-size);
  -webkit-border-radius: var(--scroll-size);
  -moz-border-radius: var(--scroll-size);
  -ms-border-radius: var(--scroll-size);
  -o-border-radius: var(--scroll-size);
}
.rtp_scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(var(--scroll-color-bar-hover));
}
