:root.dark {
  --scroll-color-bar: 255, 250, 240, 0.4;
  --scroll-color-bar-hover: 255, 250, 240, 0.6;
  --scroll-color-bg: 255, 255, 255, 0.2;
}
:root.light {
  --scroll-color-bar: 125, 95, 40, 0.4;
  --scroll-color-bar-hover: 125, 95, 40, 0.6;
  --scroll-color-bg: 255, 255, 255, 0.2;
}

.rtp_scroll {
  overflow: auto;
  scroll-behavior: smooth;
}
.rtp_scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.rtp_scroll::-webkit-scrollbar-track {
  background: rgba(var(--scroll-color-bg));
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.rtp_scroll::-webkit-scrollbar-thumb {
  background: rgba(var(--scroll-color-bar));
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.rtp_scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(var(--scroll-color-bar-hover));
}
